/* Use borders to draw a box */

table {
    margin: auto;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 65px;
}

td:hover {
    border: 1px solid grey;
}

.vertical {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horizontal {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
